@import "tailwindcss";

:root {
  --dark: #000000;
  --dark-alternate: #1b1918;
  --primary: #ff5f3f;
  --primary-light: #f4ebeb;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-poppins);
}

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--primary);
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

.input-group label {
  @apply block mb-2 text-xs;
}

.input-group input,
.input-group textarea {
  @apply w-full mb-5 rounded-lg border-2 border-gray-400 px-4 py-2.5 text-sm;
}

.input-group *:last-child {
  @apply mb-0;
}
